<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Neuromer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: rgb(39, 81, 163);
      }
      .list-link p {
        line-height: 13px;
      }
      footer p,
      footer h6,
      footer div {
        color: rgb(39, 81, 163);
      }
      .fa-brands {
        height: 60px;
      }
    </style>
  </head>
  <body>
    <!--Navbar-->
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgb(39, 81, 163)"
    >
      <div class="container-fluid">
        <img
          src="/static/images/Screenshot_2023-07-16_231317-removebg-preview (1) 2.png"
          alt=""
          style="
            width: 60px;
            height: 63.077px;
            margin-right: 4px;
            margin-left: 20px;
          "
        />
        <a class="navbar-brand text-light" href="homepage.html">Neuromer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="aboutus.html"
                >About us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="events.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="ongoingresearch.html"
                >Ongoing research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="publication.html"
                >Publication</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Committees
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="committee-executive.html"
                    >Executive</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-public-rel.html"
                    >Public Relations</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-minorities.html"
                    >Minorities in Neurology and Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-women.html"
                    >Women in Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-res.html"
                    >Neurological Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-surg.html"
                    >Neurosurgical Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-train.html"
                    >Neurosurgical Training</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--End Navbar-->

    <div class="container">
      <!--About us-->
      <div class="text-center">
        <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold">
          About us
        </h2>
      </div>
      <div class="row">
        <div class="col">
          <p align="justify" style="font-family: 'Poppins'" class="mx-auto">
            <span style="font-weight: bold">NEUROMER</span> is a dynamic
            organization founded by medical students and comprised of neurology
            and neurosurgery experts. Our mission is to bring together medical
            students from all over the world, providing them with opportunities
            to expand their knowledge and experience in the fields of neurology
            and neurosurgery. Through collaboration with professionals, we aim
            to drive positive change and advancements in neurological care.
          </p>
          <div
            class="btn btn-primary text-center mx-auto"
            style="padding: 8px 25px"
          >
            Join Us
          </div>
        </div>
        <div class="col">
          <img
            src="/static/aboutUs/aboutUs_1.png"
            style="width: 80%; border-radius: 25px; margin-left: 100px"
          />
        </div>
      </div>
      <!--End About us-->

      <!--Advantages-->
      <div class="advantages">
        <div class="text-center">
          <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold">
            Advantages
          </h2>
        </div>
        <div class="row" style="margin-bottom: 55px">
          <div class="col-6" style="font-family: 'Poppins'">
            <h3
              style="
                font-weight: bold;
                margin-bottom: 25px;
                font-family: 'Lora';
              "
            >
              <i>For members</i>
            </h3>
            <ul style="align-items: center">
              <li style="margin-bottom: 15px">
                <strong>Networking Opportunities:</strong> Connect with leading
                experts and professionals in the fields of neurology and
                neurosurgery, expanding your professional network.
              </li>
              <li style="margin-bottom: 15px">
                <strong>Exclusive Seminars and Workshops:</strong> Gain access
                to specialized seminars and workshops designed to enhance your
                knowledge and skills.
              </li>
              <li style="margin-bottom: 15px">
                <strong>Research and Publication Support:</strong> Collaborate
                on research initiatives and get opportunities to contribute to
                publications in the field.
              </li>
              <li style="margin-bottom: 15px">
                <strong>Mentorship:</strong> Receive guidance and mentorship
                from experienced professionals to help shape your career path.
              </li>
            </ul>
          </div>
          <div class="col-6">
            <img
              src="/static/aboutUs/aboutUs_6.png"
              style="width: 80%; border-radius: 25px; margin-left: 100px"
            />
          </div>
        </div>
        <div class="row" style="margin-bottom: 55px" ;>
          <div class="col-6">
            <img
              src="/static/aboutUs/aboutUs_7.png"
              style="width: 80%; border-radius: 25px"
            />
          </div>
          <div class="col-6" style="font-family: 'Poppins'">
            <h3
              style="
                font-weight: bold;
                margin-bottom: 25px;
                font-family: 'Lora';
              "
            >
              <i>For community</i>
            </h3>
            <ul style="align-items: center">
              <li style="margin-bottom: 15px">
                <strong>Public Awareness Initiatives:</strong> Participate in
                events and campaigns that raise awareness about neurological
                disorders and their impact on society.
              </li>
              <li style="margin-bottom: 15px">
                <strong>Educational Outreach:</strong> Contribute to educational
                programs aimed at promoting neurological health and well-being.
              </li>
              <li style="margin-bottom: 15px">
                <strong>Supporting Research:</strong> By being part of NEUROMER,
                you contribute to advancements in neurology and neurosurgery
                research that benefit patients globally.
              </li>
              <li style="margin-bottom: 15px">
                <strong>Advocacy:</strong> Take part in initiatives that
                advocate for improved neurological care and better resources for
                patients.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--End Advantages-->

      <!--Our story-->
      <div class="text-center">
        <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold">
          Who are we?
        </h2>
      </div>

      <div class="row">
        <div class="col-6">
          <h3 style="font-weight: bold; margin-top: 200px; font-family: 'Lora'">
            Our story...
          </h3>
          <p align="justify" style="font-family: 'Poppins'; margin-top: 20px">
            <span style="font-weight: bold">NEUROMER</span>'s journey began with
            a shared passion among a group of medical students for neurology and
            neurosurgery. Founded by visionary minds, our organization has grown
            into a dynamic hub for students worldwide. Our story is one of
            collaboration, dedication, and a relentless pursuit of progress in
            the fields of neurology and neurosurgery. With each member who joins
            us, our story gains a new chapter, filled with achievements,
            innovations, and the promise of a brighter future for neurological
            care.
          </p>
        </div>
        <div class="col-3">
          <img src="/static/aboutUs/aboutUs_8.png" style="width: 100%" />
          <img src="/static/aboutUs/aboutUs_9.png" style="width: 100%" />
        </div>
        <div class="col-3" style="margin-top: 150px">
          <img src="/static/aboutUs/aboutUs_10.png" style="width: 100%" />
        </div>
      </div>
      <!--End our story-->

      <!--Accordion-->
      <div class="text-center">
        <h2 style="font-family: 'Lora'; margin: 40px; font-weight: bold">
          Frequently asked Q&A
        </h2>
      </div>

      <div
        class="accordion"
        id="accordionExample"
        style="width: 70%; margin: 15px auto 120px auto"
      >
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <strong> Who can join NEUROMER? </strong>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>NEUROMER</strong> warmly welcomes medical students from
              all corners of the globe, regardless of their geographical
              location.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <strong>How can I join NEUROMER? </strong>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              To join <strong> NEUROMER </strong>, simply fill out the
              <strong>"Join Us" </strong>form on our website or social media
              pages.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <strong>What advantages do NEUROMER members have? </strong>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>NEUROMER</strong> members enjoy networking opportunities,
              exclusive seminars, research collaboration, mentorship, and the
              chance to contribute to positive change in neurology and
              neurosurgery.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              <strong
                >How can I get involved in NEUROMER's research initiatives?
              </strong>
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>NEUROMER</strong> offers Neurological and Neurosurgical
              Research Committees for members interested in contributing to
              research projects and innovative solutions in these fields.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              <strong
                >How can I stay updated on NEUROMER's events and
                activities?</strong
              >
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              You can stay informed about <strong> NEUROMER</strong>'s upcoming
              events, conferences, and activities by following our official
              social media channels and regularly visiting our website. We
              ensure that our members and the wider community are well-informed
              about the latest happenings in the fields of neurology and
              neurosurgery.
            </div>
          </div>
        </div>
      </div>
      <!--End Accordion-->
    </div>

    <!-- Footer -->
    <footer style="color: rgb(39, 81, 163); font-family: 'Poppins', sans-serif">
      <div
        class="bg-light"
        style="
          height: 400px;
          background-image: url('../static/images/ongoingslide.png');
          opacity: 0.8;
        "
      >
        <div class="row" style="width: 1519px">
          <div class="col-1"></div>
          <div
            class="col-6"
            style="
              background-color: white;
              margin: 30px;
              padding: 50px;
              border-radius: 10px;
              opacity: 1;
            "
          >
            <h3 class="text-center">Stay Informed with Our Medical Insights</h3>
            <p class="text-center">
              Subscribe to receive the latest news, research, and updates from
              the world of medical breakthroughs
            </p>
            <div class="d-flex justify-content-center">
              <div class="input-group w-auto">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email"
                  aria-label="Example input"
                  aria-describedby="button-addon1"
                  style="width: 500px"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="text-center text-lg-start text-light">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <img
                  src="/static/images/neurolog.png"
                  alt=""
                  style="width: 300px"
                />
                <p style="margin-bottom: 3px">+90 507 184 45 77</p>
                <p>
                  <a hef="neuromerorganization@gmail.com"
                    >neuromerorganization@gmail.com</a
                  >
                </p>
                <div class="social-links row" style="color: rgb(39, 81, 163)">
                  <a
                    class="col-1"
                    href="https://www.youtube.com/@NEUROMER"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-youtube col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.instagram.com/neuromerorg/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-instagram col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.linkedin.com/company/neuromer/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  <div class="col-9"></div>
                </div>
              </div>

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Company</h6>
                <div class="list-links">
                  <p>
                    <a href="aboutus.html" class="text-reset">About us</a>
                  </p>
                  <p>
                    <a href="events.html" class="text-reset">News</a>
                  </p>
                  <p>
                    <a
                      href="../templates/ongoingresearch.html"
                      class="text-reset"
                      >Ongoing research</a
                    >
                  </p>
                  <p>
                    <a href="publication.html" class="text-reset"
                      >Publication</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Committees</h6>
                <div class="list-links">
                  <p>
                    <a
                      href="../templates/committee-executive.html"
                      class="text-reset"
                      >Executive</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-public-rel.html"
                      class="text-reset"
                      >Public Relations</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-minorities.html"
                      class="text-reset"
                      >Minorities in Neurology and Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-women.html"
                      class="text-reset"
                      >Women in Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-res.html"
                      class="text-reset"
                      >Neurological Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-surg.html"
                      class="text-reset"
                      >Neurosurgical Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-train.html"
                      class="text-reset"
                      >Neurosurgical Training</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Ongoing Research</h6>
                <div class="list-links">
                  <p>
                    <a href="../templates/onresearch-mult-scle.html"
                      >Multiple Sclerosis</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-alzhe.html"
                      >Alzheimer's Disease</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-spinal.html"
                      >Spinal Neurosurgery</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>

        <!-- Copyright -->
        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.025)"
        >
          © 2023 All rights reserved.
          <a class="text-reset fw-bold" href="homepage.html">Neuromer.</a>
        </div>
      </div>

      <!-- Copyright -->
    </footer>
    <!-- End Footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
