<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuromer-Ongoing Research</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/homepage.css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: rgb(39, 81, 163);
      }
      .list-link p {
        line-height: 13px;
      }
      footer p,
      footer h6,
      footer div {
        color: rgb(39, 81, 163);
      }
      .fa-brands {
        height: 60px;
      }
    </style>

</head>

<body>

    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgb(39, 81, 163)"
    >
      <div class="container-fluid">
        <img
          src="../static/images/Screenshot_2023-07-16_231317-removebg-preview (1) 2.png"
          alt=""
          style="
            width: 60px;
            height: 63.077px;
            margin-right: 4px;
            margin-left: 20px;
          "
        />
        <a class="navbar-brand text-light" href="homepage.html">Neuromer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="aboutus.html"
                >About us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="events.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="ongoingresearch.html"
                >Ongoing research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="publication.html"
                >Publication</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Committees
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="committee-executive.html"
                    >Executive</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-public-rel.html"
                    >Public Relations</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-minorities.html"
                    >Minorities in Neurology and Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-women.html"
                    >Women in Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-res.html"
                    >Neurological Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-surg.html"
                    >Neurosurgical Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-train.html"
                    >Neurosurgical Training</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="font-family: 'Poppins';">
        <br><br><br>
        <h2 style="font-family: 'Lora'; text-align: center; font-weight: bold;">Ongoing Researches
            </h3>
            <div class="row" style="padding-top: 8px;">
                <div class="col-2"></div>
                <p class="text-center col-8" style="color: #8d97ad; line-height: 24px; font-size: 16px;">Unveiling the
                    Latest Breakthroughs and Discoveries. Explore our continuous
                    pursuit of knowledge and innovation as we unravel new dimensions in the realm of research</p>
                <div class="col-2"></div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-5 p-3" style=" width:600px; height: 400px;">
                    <img src="../static/images/multiple-sclerosis.jpg" alt=""
                        style="width:600px; height: 400px; object-fit: cover;">
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <br>
                    <h3><a href="onresearch-mult-scle.html" style="text-decoration: none; color: black;">Multiple
                            Sclerosis Research</a></h3>
                    <br>
                    <p> <a href="onresearch-mult-scle.html" style="text-decoration: none; color: black;">The Multiple
                            Sclerosis Research Team, the branch of the Neuromer Research Team, will bring
                            together undergraduate, graduate and doctorate students to conduct scientific research on...
                        </a></p>
                    <button type="button" class="btn btn-primary"><a href="onresearch-mult-scle.html"
                            style="text-decoration: none; color: white;">Read more</a></button>

                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-5">
                    <br>
                    <h3><a href="onresearch-alzhe.html" style="text-decoration: none; color: black;">Alzheimer’s Disease
                            Research</a></h3>
                    <br>
                    <p><a href="onresearch-alzhe.html" style="text-decoration: none; color: black;">We aim to bring
                            together med students who are interested in Alzheimer's disease and expand our
                            knowledge...</a>
                    </p>
                    <button type="button" class="btn btn-primary"><a href="onresearch-alzhe.html"
                            style="text-decoration: none; color: white;">Read more</a></button>
                </div>
                <div class="col-1"></div>

                <div class="col-5 p-3" style=" width:600px; height: 400px;">
                    <img src="../static/images/ongo3.jpg" alt="" style="width:600px; height: 400px; object-fit: cover;">
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-5 p-3" style=" width:600px; height: 400px;">
                    <img src="../static/images/ongo2.jpg" alt="" style="width:600px; height: 400px; object-fit: cover;">
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <br>
                    <h3><a href="onresearch-spinal.html" style="text-decoration: none; color: black;">Spinal
                            Neurosurgery Research</a></h3>
                    <br>
                    <p><a href="onresearch-spinal.html" style="text-decoration: none; color: black;">Our mission is to
                            unite passionate medical students with
                            a shared interest in spinal neurosurgery, fostering an environment where collaborative
                            learning expands...</a>
                    </p>
                    <button type="button" class="btn btn-primary"><a href="onresearch-spinal.html"
                            style="text-decoration: none; color: white;">Read more</a></button>

                </div>
            </div>
    </div>
    <br><br><br>
    <footer style="color: rgb(39, 81, 163); font-family: 'Poppins', sans-serif">
      <div
        class="bg-light"
        style="
          height: 400px;
          background-image: url('../static/images/ongoingslide.png');
          opacity: 0.8;
        "
      >
        <div class="row" style="width: 1519px">
          <div class="col-1"></div>
          <div
            class="col-6"
            style="
              background-color: white;
              margin: 30px;
              padding: 50px;
              border-radius: 10px;
              opacity: 1;
            "
          >
            <h3 class="text-center">Stay Informed with Our Medical Insights</h3>
            <p class="text-center">
              Subscribe to receive the latest news, research, and updates from
              the world of medical breakthroughs
            </p>
            <div class="d-flex justify-content-center">
              <div class="input-group w-auto">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email"
                  aria-label="Example input"
                  aria-describedby="button-addon1"
                  style="width: 500px"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="text-center text-lg-start text-light">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <img
                  src="../static/images/neurolog.png"
                  alt=""
                  style="width: 300px"
                />
                <p style="margin-bottom: 3px">+90 507 184 45 77</p>
                <p>
                  <a hef="neuromerorganization@gmail.com"
                    >neuromerorganization@gmail.com</a
                  >
                </p>
                <div class="social-links row" style="color: rgb(39, 81, 163)">
                  <a
                    class="col-1"
                    href="https://www.youtube.com/@NEUROMER"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-youtube col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.instagram.com/neuromerorg/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-instagram col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.linkedin.com/company/neuromer/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  <div class="col-9"></div>
                </div>
              </div>

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Company</h6>
                <div class="list-links">
                  <p>
                    <a href="aboutus.html" class="text-reset">About us</a>
                  </p>
                  <p>
                    <a href="events.html" class="text-reset">News</a>
                  </p>
                  <p>
                    <a
                      href="../templates/ongoingresearch.html"
                      class="text-reset"
                      >Ongoing research</a
                    >
                  </p>
                  <p>
                    <a href="publication.html" class="text-reset"
                      >Publication</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Committees</h6>
                <div class="list-links">
                  <p>
                    <a
                      href="../templates/committee-executive.html"
                      class="text-reset"
                      >Executive</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-public-rel.html"
                      class="text-reset"
                      >Public Relations</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-minorities.html"
                      class="text-reset"
                      >Minorities in Neurology and Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-women.html"
                      class="text-reset"
                      >Women in Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-res.html"
                      class="text-reset"
                      >Neurological Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-surg.html"
                      class="text-reset"
                      >Neurosurgical Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-train.html"
                      class="text-reset"
                      >Neurosurgical Training</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Ongoing Research</h6>
                <div class="list-links">
                  <p>
                    <a href="../templates/onresearch-mult-scle.html"
                      >Multiple Sclerosis</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-alzhe.html"
                      >Alzheimer's Disease</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-spinal.html"
                      >Spinal Neurosurgery</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>

        <!-- Copyright -->
        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.025)"
        >
          © 2023 All rights reserved.
          <a class="text-reset fw-bold" href="homepage.html">Neuromer.</a>
        </div>
      </div>

      <!-- Copyright -->
    </footer>

</body>

</html>