<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuromer-Detailed-Ongoing-Research</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ruwudu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/committee.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: rgb(39, 81, 163);
      }
      .list-link p {
        line-height: 13px;
      }
      footer p,
      footer h6,
      footer div {
        color: rgb(39, 81, 163);
      }
      .fa-brands {
        height: 60px;
      }
    </style>
</head>

<body>
  <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgb(39, 81, 163)"
    >
      <div class="container-fluid">
        <img
          src="../static/images/Screenshot_2023-07-16_231317-removebg-preview (1) 2.png"
          alt=""
          style="
            width: 60px;
            height: 63.077px;
            margin-right: 4px;
            margin-left: 20px;
          "
        />
        <a class="navbar-brand text-light" href="homepage.html">Neuromer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="aboutus.html"
                >About us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="events.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="ongoingresearch.html"
                >Ongoing research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="publication.html"
                >Publication</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Committees
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="committee-executive.html"
                    >Executive</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-public-rel.html"
                    >Public Relations</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-minorities.html"
                    >Minorities in Neurology and Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-women.html"
                    >Women in Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-res.html"
                    >Neurological Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-surg.html"
                    >Neurosurgical Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-train.html"
                    >Neurosurgical Training</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  <div class="container" style="font-family: 'Poppins';">
    <br><br><br>
    <h2 style="font-family: 'Lora'; text-align: center; font-weight: bold;">Multiple Sclerosis Research</h2>
      <br>
      <p>The Multiple Sclerosis Research Team, the branch of the Neuromer Research Team, will bring together undergraduate, 
        graduate and doctorate students to conduct scientific research on Multiple Sclerosis. The Multiple Sclerosis Research 
        Team provides a broad student network in the Multiple Sclerosis field.</p>
        <br>
        <div class="row">
          <div class="col-7">
        <h5 style="font-weight: 600;">Research</h5>
        <p>As the Multiple Sclerosis Research Team, we intend to connect with experts in neuroimmunology and write research articles. With the guidance of our mentor, we aim to take part in review and original research articles.</p>
        <h5 style="font-weight: 600;">Article Writing</h5>
        <p>We will learn the tricks of writing articles from experienced students and adapt it to article works together.</p>
        <h5 style="font-weight: 600;">Article Meetings</h5>
        <p>The Multiple Sclerosis Research Team will follow current developments in the field of Multiple Sclerosis. We will read topical articles published in high-impact journals. We will develop new hypotheses in our meetings where scientific articles are reviewed.</p>
        <h5 style="font-weight: 600;"> Laboratory Experience</h5>
        <p>We want to be a part of clinical and laboratory studies with our consultant who offers a new perspective on disease pathology in the field of Multiple Sclerosis. Our aim is to apply for projects for TÜBİTAK, TUSEB or international programs by catching internship experience in the laboratory of our advisor.</p>
      </div>
      <div class="col-5" style="height: 500px; width: 500px;">
        <img src="../static/images/imgimg.jpg" alt="" style="height: 500px; width: 500px; object-fit: cover;">
      </div>
    </div>
    <h5 style="font-weight: 600;">Who can apply to the Multiple Sclerosis Research Team?</h4>
      <p>All medical students who are interested in Multiple Sclerosis, volunteer and hardworking in academic research can apply to the Multiple Sclerosis Research Team. After the evaluation process, you can be a part of our team.</p>
        <div class="row">
        <div class="col-6 p-3" style="right: 0;">
          <h5 style="font-weight: 600;">Associate Professor Serkan Demir</h5>
          <p>Our mentor: Assoc. Prof. Serkan DEMİR
            Associate Professor Serkan Demir is the advisor of the Multiple Sclerosis Research Team. Assoc. Dr. Serkan Demir 
            graduated from Gülhane Military Medical Academy, Faculty of Medicine in 2006. Between 2009-2013, he completed his 
            specialty training in neurology at GATA Haydarpaşa Training and Research Hospital. In 2019, he received the title of 
            associate professor at SBU Sultan 2. Abdulhamid Han Training and Research Hospital. Associate Professor Serkan Demir 
            was invited to Martyr Prof. Dr. İlhan Varank Sancaktepe Training and Research Hospital to establish a training clinic 
            and he is still working as the neurology clinic chief. He conducts clinical and experimental studies on Multiple Sclerosis 
            (MS), neuroimmunology and cerebrovascular diseases. He was the editor of “MS Reference, MS Patient Guide books and 
            applications - Child Neurological Examination book” and author of chapters in many neurological books. He is a member 
            of the Board of Directors of the Turkish MS Association responsible for projects. For the first time in the literature, 
            he discussed the effects of COVID-19 in cohort studies with MS patients in Turkey. At the same time, targeting different 
            therapeutic agents on MS and studies aiming to increase the quality of life of patients with MS are among his original 
            researches. In addition, it participated in the European Academy of Neurology Congress 2023, held in Budapest this year, 
            with 4 original researches. His highly cited articles published in national and international journals, his partnerships 
            with international researchers, and the contribution of our advisor to the field of MS once again reveal.</p>

        </div>
        <div class="col-2"></div>
        <div class="col-3 p-3" style="left: 0;">
          <br><br>
          <img src="../static/images/serkan-demir.jpeg" alt="" style="height: 400px;">
        </div>
      </div>
      <br><br>
      <div class="py-5 team4" id="multip-sclero">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3" style="font-weight: bold;">Team Members
              </h3>
              <h6 class="subtitle">Unlocking insights at the intersection of neurosurgery and neuroscience, our team combines exceptional features and seamless customer service for an unparalleled experience</h6>
            </div>
          </div>
          <div class="row slider">
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image43.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Habiba Eyvazova</h5>
                    <h6 class="subtitle">Researcher
                    </h6>
                    <p>3rd year medical student at University of Health Sciences</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image34.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Asli Sisman
                    </h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Science
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image32.jpg" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12" style="height: 190px;">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Irshad Allahverdiyev</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p> 2nd year medical student at Istanbul University Faculty of Medicine</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image11.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Halit Ayish</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Science
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image23.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Ceren Korkmaz</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at Çukurova University </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image29.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Furkan Melik Karaduman</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>3rd year medical student at Istanbul University
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image2.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Neslihan Betul Kandilcik</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>2nd year medical student at University of Health Sciences</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image42.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Betul Alhasoghlu </h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Sciences </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <i class="bi bi-chevron-left prev-arrow col-1">
            </i><i class="bi bi-chevron-right next-arrow col-1"></i>
            <div class="col-5"></div>
          </div>
        </div>
      </div>
      <br>
      
        <br><br><br>

  </div>
  <footer style="color: rgb(39, 81, 163); font-family: 'Poppins', sans-serif">
      <div
        class="bg-light"
        style="
          height: 400px;
          background-image: url('../static/images/ongoingslide.png');
          opacity: 0.8;
        "
      >
        <div class="row" style="width: 1519px">
          <div class="col-1"></div>
          <div
            class="col-6"
            style="
              background-color: white;
              margin: 30px;
              padding: 50px;
              border-radius: 10px;
              opacity: 1;
            "
          >
            <h3 class="text-center">Stay Informed with Our Medical Insights</h3>
            <p class="text-center">
              Subscribe to receive the latest news, research, and updates from
              the world of medical breakthroughs
            </p>
            <div class="d-flex justify-content-center">
              <div class="input-group w-auto">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email"
                  aria-label="Example input"
                  aria-describedby="button-addon1"
                  style="width: 500px"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="text-center text-lg-start text-light">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <img
                  src="../static/images/neurolog.png"
                  alt=""
                  style="width: 300px"
                />
                <p style="margin-bottom: 3px">+90 507 184 45 77</p>
                <p>
                  <a hef="neuromerorganization@gmail.com"
                    >neuromerorganization@gmail.com</a
                  >
                </p>
                <div class="social-links row" style="color: rgb(39, 81, 163)">
                  <a
                    class="col-1"
                    href="https://www.youtube.com/@NEUROMER"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-youtube col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.instagram.com/neuromerorg/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-instagram col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.linkedin.com/company/neuromer/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  <div class="col-9"></div>
                </div>
              </div>

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Company</h6>
                <div class="list-links">
                  <p>
                    <a href="aboutus.html" class="text-reset">About us</a>
                  </p>
                  <p>
                    <a href="events.html" class="text-reset">News</a>
                  </p>
                  <p>
                    <a
                      href="../templates/ongoingresearch.html"
                      class="text-reset"
                      >Ongoing research</a
                    >
                  </p>
                  <p>
                    <a href="publication.html" class="text-reset"
                      >Publication</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Committees</h6>
                <div class="list-links">
                  <p>
                    <a
                      href="../templates/committee-executive.html"
                      class="text-reset"
                      >Executive</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-public-rel.html"
                      class="text-reset"
                      >Public Relations</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-minorities.html"
                      class="text-reset"
                      >Minorities in Neurology and Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-women.html"
                      class="text-reset"
                      >Women in Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-res.html"
                      class="text-reset"
                      >Neurological Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-surg.html"
                      class="text-reset"
                      >Neurosurgical Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-train.html"
                      class="text-reset"
                      >Neurosurgical Training</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Ongoing Research</h6>
                <div class="list-links">
                  <p>
                    <a href="../templates/onresearch-mult-scle.html"
                      >Multiple Sclerosis</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-alzhe.html"
                      >Alzheimer's Disease</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-spinal.html"
                      >Spinal Neurosurgery</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>

        <!-- Copyright -->
        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.025)"
        >
          © 2023 All rights reserved.
          <a class="text-reset fw-bold" href="homepage.html">Neuromer.</a>
        </div>
      </div>

      <!-- Copyright -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/0187bb1c04.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js">
  </script>
  <script>
    $('.slider').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      prevArrow: $('.prev-arrow'),
      nextArrow: $('.next-arrow')
    });
  </script>
</body>

</html>