<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuromer-Detailed-Ongoing-Research</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ruwudu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/committee.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: rgb(39, 81, 163);
      }
      .list-link p {
        line-height: 13px;
      }
      footer p,
      footer h6,
      footer div {
        color: rgb(39, 81, 163);
      }
      .fa-brands {
        height: 60px;
      }
    </style>
</head>

<body>
  <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgb(39, 81, 163)"
    >
      <div class="container-fluid">
        <img
          src="../static/images/Screenshot_2023-07-16_231317-removebg-preview (1) 2.png"
          alt=""
          style="
            width: 60px;
            height: 63.077px;
            margin-right: 4px;
            margin-left: 20px;
          "
        />
        <a class="navbar-brand text-light" href="homepage.html">Neuromer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="aboutus.html"
                >About us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="events.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="ongoingresearch.html"
                >Ongoing research</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="publication.html"
                >Publication</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-light"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Committees
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="committee-executive.html"
                    >Executive</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-public-rel.html"
                    >Public Relations</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-minorities.html"
                    >Minorities in Neurology and Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-women.html"
                    >Women in Neurosurgery</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-res.html"
                    >Neurological Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-surg.html"
                    >Neurosurgical Research</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="committee-neuro-train.html"
                    >Neurosurgical Training</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </nav>

  <div class="container" style="font-family: 'Poppins';">
    <br><br><br>
    <h2 style="font-family: 'Lora'; text-align: center; font-weight: bold;">Spinal Neurosurgery Research Team</h2>
      <br>
      <p>Our mission is to unite passionate medical students with a shared interest in spinal neurosurgery, fostering an environment where collaborative learning expands our comprehension of spinal health.</p>
        <br>
        <div class="row">
          <div class="col-7">
        <h5 style="font-weight: 600;">Research</h5>
        <p>Within the Spinal Neurosurgery Research Team, our focus is to conduct insightful research and craft research articles, hand in hand with experts in the field of spinal neurosurgery.</p>
        <h5 style="font-weight: 600;">Article Writing</h5>
        <p>We will engage in the art of article composition through mentorship from seasoned peers, honing our ability to communicate complex concepts with clarity.</p>
        <h5 style="font-weight: 600;">Article Meetings</h5>
        <p>As a cohesive unit, we'll delve into the forefront of spinal neurosurgery developments by collectively studying scholarly articles. Guided by experienced members, we'll decode the nuances of scientific literature.</p>
        <h5 style="font-weight: 600;"> Presentation Meetings</h5>
        <p>Elevating our understanding of spinal neurosurgery, we will host presentation meetings, advancing not only our knowledge but also our presentation and communication skills.
        </p>
        <h5 style="font-weight: 600;">Who can apply to the Spinal Neurosurgery Research Team?</h4>
            <p>Enthusiastic and diligent medical students intrigued by the intricacies of spinal neurosurgery, who possess a passion for collaborative learning, are welcome to join the Spinal Neurosurgery Research Team.</p>
      </div>
      <div class="col-5" style="height: 500px; width: 500px;">
        <img src="../static/images/spin.jpg" alt="" style="height: 500px; width: 500px; object-fit: cover;">
      </div>
    </div>
    
      <br>  
      <div class="row">
        <div class="col-6 p-3" style="right: 0;">
          <h5 style="font-weight: 600;">Assoc. Prof. Dr. Murat Sakir Eksi</h5>
          <p>Our mentor: Assist. Prof. Murat Sakir Eksi
            Assoc. Prof. Dr. Murat Sakir Eksi, graduated from Marmara University, Faculty of Medicine in 2007. Between 2007-2013, he completed his specialty training in neurosurgery at Marmara University under supervision of Prof. Dr. Necmettin Pamir, Prof. Dr. Mehmet Ozek, Prof. Dr. Turker Kilic. He was Post-doctoral Research Fellow in Spine Surgery 2013-2015 at UCSF. In 2019, he received the title of Associate Professor at Acibadem University. 
            Murat Sakir EKSI is ECFMG certified, member of International Meningioma Society, member of The International Society for the Study of the Lumbar Spine.
            He is reviewer of journals such as  Clinical Neurology and Neurosurgery, Journal of Spinal Cord Medicine, World Neurosurgery, Neurosurgical Review etc.. He is associate editor in Journal of Turkish Neurosurgery.
            Murat Sakir Eksi is the top-rated expert in Intervertebral Disc Generation, top-rated  expert in Lumbar Vertebrae in Turkey during the years 2013-2023, in top 0.47% in research of Paraspinal Muscles worldwide.</p>
        </div>
        <div class="col-2"></div>
        <div class="col-3 p-3" style="left: 0;">
          <br><br>
          <img src="../static/images/murat-shakir-ekshi.jpeg" alt="" style="height: 400px;">
        </div>
      </div>
      <br><br>
      <div class="py-5 team4" id="spin-neuro">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3">Team Members
              </h3>
              <h6 class="subtitle">Unlocking insights at the intersection of neurosurgery and neuroscience, our team combines exceptional features and seamless customer service for an unparalleled experience</h6>
            </div>
          </div>
          <div class="row slider">
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image16.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Fatima Abasova</h5>
                    <h6 class="subtitle">Head of Spinal Neurosurgery Research Team
                    </h6>
                    <p>3rd year medical student at the University of Health</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image37.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Hatice Sude Yildiz
                    </h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>3rd year medical student at Adiyaman University
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image1.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Deniz Oter</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>3rd year medical student at Harran University</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image7.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Sidem Gul</h5>
                    <h6 class="subtitle">Lorem Ipsum</h6>
                    <p>Some long description can go here for example university</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image13.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Burak Dudu</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>3rd year medical student at Cerrahpasa University</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image28.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Omer Altin</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>3rd year medical student at Cerrahpasha University</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image36.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Babos Katalin</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>6th year medical student at Semmelweis University</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image14.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Mustafa Kaya</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Sciences</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="../static/images/image33.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Ebru Bulut</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>2nd year medical student at Harran University</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <i class="bi bi-chevron-left prev-arrow col-1">
            </i><i class="bi bi-chevron-right next-arrow col-1"></i>
            <div class="col-5"></div>
          </div>
        </div>
      </div>
      <br>
      
        <br><br><br>

  </div>
  <footer style="color: rgb(39, 81, 163); font-family: 'Poppins', sans-serif">
      <div
        class="bg-light"
        style="
          height: 400px;
          background-image: url('../static/images/ongoingslide.png');
          opacity: 0.8;
        "
      >
        <div class="row" style="width: 1519px">
          <div class="col-1"></div>
          <div
            class="col-6"
            style="
              background-color: white;
              margin: 30px;
              padding: 50px;
              border-radius: 10px;
              opacity: 1;
            "
          >
            <h3 class="text-center">Stay Informed with Our Medical Insights</h3>
            <p class="text-center">
              Subscribe to receive the latest news, research, and updates from
              the world of medical breakthroughs
            </p>
            <div class="d-flex justify-content-center">
              <div class="input-group w-auto">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email"
                  aria-label="Example input"
                  aria-describedby="button-addon1"
                  style="width: 500px"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="text-center text-lg-start text-light">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <img
                  src="../static/images/neurolog.png"
                  alt=""
                  style="width: 300px"
                />
                <p style="margin-bottom: 3px">+90 507 184 45 77</p>
                <p>
                  <a hef="neuromerorganization@gmail.com"
                    >neuromerorganization@gmail.com</a
                  >
                </p>
                <div class="social-links row" style="color: rgb(39, 81, 163)">
                  <a
                    class="col-1"
                    href="https://www.youtube.com/@NEUROMER"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-youtube col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.instagram.com/neuromerorg/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-instagram col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.linkedin.com/company/neuromer/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  <div class="col-9"></div>
                </div>
              </div>

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Company</h6>
                <div class="list-links">
                  <p>
                    <a href="aboutus.html" class="text-reset">About us</a>
                  </p>
                  <p>
                    <a href="events.html" class="text-reset">News</a>
                  </p>
                  <p>
                    <a
                      href="../templates/ongoingresearch.html"
                      class="text-reset"
                      >Ongoing research</a
                    >
                  </p>
                  <p>
                    <a href="publication.html" class="text-reset"
                      >Publication</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Committees</h6>
                <div class="list-links">
                  <p>
                    <a
                      href="../templates/committee-executive.html"
                      class="text-reset"
                      >Executive</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-public-rel.html"
                      class="text-reset"
                      >Public Relations</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-minorities.html"
                      class="text-reset"
                      >Minorities in Neurology and Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-women.html"
                      class="text-reset"
                      >Women in Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-res.html"
                      class="text-reset"
                      >Neurological Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-surg.html"
                      class="text-reset"
                      >Neurosurgical Research</a
                    >
                  </p>
                  <p>
                    <a
                      href="../templates/committee-neuro-train.html"
                      class="text-reset"
                      >Neurosurgical Training</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Ongoing Research</h6>
                <div class="list-links">
                  <p>
                    <a href="../templates/onresearch-mult-scle.html"
                      >Multiple Sclerosis</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-alzhe.html"
                      >Alzheimer's Disease</a
                    >
                  </p>
                  <p>
                    <a href="../templates/onresearch-spinal.html"
                      >Spinal Neurosurgery</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>

        <!-- Copyright -->
        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.025)"
        >
          © 2023 All rights reserved.
          <a class="text-reset fw-bold" href="homepage.html">Neuromer.</a>
        </div>
      </div>

      <!-- Copyright -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/0187bb1c04.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js">
  </script>
  <script>
    $('.slider').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      prevArrow: $('.prev-arrow'),
      nextArrow: $('.next-arrow')
    });
  </script>
</body>

</html>