<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detailed Publication</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link 
        href='https://fonts.googleapis.com/css?family=Libre Franklin' 
        rel='stylesheet'
    />

    <style>

        body {
            font-family: 'Libre Franklin';
        }

        p {
            margin-top: 10px;
            font-size: 16px;
        }

        i {
            font-weight: bold;
        }

    </style>

  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(39,81,163);">
        <div class="container-fluid ">
          <a class="navbar-brand text-light" href="#">Neuromer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Ongoing research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Publication</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Committees
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">1st comittee</a></li>
                  <li><a class="dropdown-item" href="#">2nd comittee</a></li>
                  <li><a class="dropdown-item" href="#">3rd comittee</a></li>
                  <li><a class="dropdown-item" href="#">4th comittee</a></li>
                  <li><a class="dropdown-item" href="#">5th comittee</a></li>
                  <li><a class="dropdown-item" href="#">6th comittee</a></li>
                  <li><a class="dropdown-item" href="#">7th comittee</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    EN
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">TR</a></li>
                    <li><a class="dropdown-item" href="#">AZ</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">

        <!--Heading-->
        <div class="row">
            <h1 style="margin-top: 100px; font-weight: bold; font-size: 50px;">
                Alice's Magical Mind: <br>The Wonderland of Perceptions
            </h1>

            <h6 style="color: rgba(102, 102, 102, 1); margin-top: 10px;">
                July 12, 2023
            </h6>
        </div>
        
        <!--Detailed Paragraph-->
        <div class="row" style="margin-top: 30px;">
            <div class="col-8">
                <p align="justify">
                    In 1907, the great British neurologist William Gowers reported epilepsy patients who perceived objects to look 
                    “twice their size” during the aura preceding their seizures. It is called Alice in Wonderland syndrome (AIWS)”. 
                    In 1955, the English psychiatrist John Todd notes the similarity of “bizarre disturbances of the body image” in the hallucinations of 
                    epilepsy patients and patients having migraine headaches and “proposes to describe the experiences of these patients 
                    under the general heading ‘the syndrome of Alice in Wonderland.’” Some have suggested that Carroll experienced such body image 
                    distortions himself, and that they inspired “Alice’s Adventures in Wonderland,” 
                    but this claim was challenged by an examination of his diaries, which found no entries referring to migraine 
                    until 20 years after he wrote the Alice books. <i>(see Figure 1)</i>
                </p> 
                <p align="justify" style="font-weight: bold; font-size: 20px;">
                    Mapping keywords associated with Alice in Wonderland syndrome (AIWS) <i>(see Figure 2)</i>
                </p> 

                <p align="justify">
                    The American neurologist Caro Lippman noted, in a 1952 paper published in the Journal of Nervous and Mental Disease, 
                    that “the great variety” of hallucinations experienced during the migraine aura were still “little known to the medical 
                    profession.” He incorrectly claimed that “there is no description in the migraine literature of hallucinations 
                    of the sense of body image,” adding that “over a period of eighteen years of intensive migraine studies 
                    I have collected many histories of such hallucinations from both men and women,” and he then went on to describe seven cases.
                    <i>(see Figure 3)</i>
                </p>
                <p align="justify">
                    In one case, a 23-year-old secretary described her hallucinations in a letter to Lippman:
                </p> 
                <p align="justify">
                    About every six months I would have a major attack that lasted for weeks and required hospitalization. 
                    It was at these times that I experienced the sensation that my head has grown to tremendous proportions and 
                    was so light that it floated up to the ceiling, although I was sure it was still attached to my neck. . . . 
                    This sensation would pass with the migraine but would leave me with a feeling that I was very tall. When walking down the street 
                    I would think I would be able to look down on the tops of others’ heads, and it was very frightening and annoying not to see as I was feeling. 
                    The sensation was so real that when I would see myself in a window or full-length mirror, it was quite a shock to realize that 
                    I was still my normal height of under five feet.
                </p>
                <p align="justify">
                    The distortions of body image experienced in Alice in Wonderland syndrome are usually consequences of some other affliction 
                    and can be disorienting, or perhaps a little frightening, but are otherwise harmless. 
                    They can, however, be a root cause, rather than a consequence, of other conditions, and, in some cases, they may be damaging, 
                    or even life-threatening — a prime example being anorexia nervosa.
                </p>
                <p>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4909520/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4909520/</a>
                </p>
                <p>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7701374/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7701374/</a>
                </p>
                <p>
                    <a href="https://pubmed.ncbi.nlm.nih.gov/34950010/" target="_blank">https://pubmed.ncbi.nlm.nih.gov/34950010/</a>
                </p>
                <p>
                    <a href="https://thereader.mitpress.mit.edu/the-curious-case-of-alice-in-wonderland-syndrome/" target="_blank">https://thereader.mitpress.mit.edu/the-curious-case-of-alice-in-wonderland-syndrome/</a>
                </p>
            </div>

            <div class="col-4" style="text-align: center;">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-primary" style="margin-bottom: 10px;">Download PDF</button>
                    <button type="button" class="btn btn-secondary" style="margin-bottom: 10px;">Send e-mail</button>
                </div>
            </div>

        </div>

        <!--Blogs Section-->
        
        <div class="row" style="margin-top: 60px;">
            <h2 style="color: rgba(102, 102, 102, 1); font-weight: bold;">
                Latest Blogs
            </h2>
        </div>

        <!--Cards-->
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px; margin-bottom: 120px;">
            <div class="col">
                <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show
                    that equal height action.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
        </div>

    </div>



    <!--Footer-->
    <footer>
    <!-- Subscribe section --> 
    <div class="bg-light">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <form action="">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2">
                <strong>Subscribe to our newsletter</strong>
            </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form5Example25" class="form-control" placeholder="Email address"/>
            </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
                Submit
            </button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        </form>
    </div>
    <!-- Grid container -->
    </div>
    <div class="text-center text-lg-start text-light" style="background-color: rgb(39,81,163);">
        <!-- Left -->
        <!-- Left -->

        <!-- Right -->
        <div>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
        </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="../static/mainlogo.png" alt="">
                
            </h6>
            <p>
                International organization dedicated to connecting medical students and professionals interested in neurosurgery and neurology
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Company
            </h6>
            <p>
                <a href="#!" class="text-reset">About us</a>
            </p>
            <p>
                <a href="#!" class="text-reset">News</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Ongoing research</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Publication</a>
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Committees
            </h6>
            <p>
                <a href="#!" class="text-reset">1st committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">2nd committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">3rd committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">4th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">5th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">6th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">7th committee</a>
            </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 All rights reserved.
        <a class="text-reset fw-bold" href="">Neuromer.</a>
    </div>
    </div>

    <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


  </body>
</html>
