<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detailed Publication</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link 
        href='https://fonts.googleapis.com/css?family=Libre Franklin' 
        rel='stylesheet'
    />

    <style>

        body {
            font-family: 'Libre Franklin';
        }

        p {
            margin-top: 10px;
            font-size: 16px;
        }

    </style>

  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(39,81,163);">
        <div class="container-fluid ">
          <a class="navbar-brand text-light" href="#">Neuromer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Ongoing research</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Publication</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Committees
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">1st comittee</a></li>
                  <li><a class="dropdown-item" href="#">2nd comittee</a></li>
                  <li><a class="dropdown-item" href="#">3rd comittee</a></li>
                  <li><a class="dropdown-item" href="#">4th comittee</a></li>
                  <li><a class="dropdown-item" href="#">5th comittee</a></li>
                  <li><a class="dropdown-item" href="#">6th comittee</a></li>
                  <li><a class="dropdown-item" href="#">7th comittee</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    EN
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">TR</a></li>
                    <li><a class="dropdown-item" href="#">AZ</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">

        <!--Heading-->
        <div class="row">
            <h1 style="margin-top: 100px; font-weight: bold; font-size: 50px;">
                Miraculous Reattachment: Surgeons <br>Successfully Restore Young Boy's Head <br>After Internal Decapitation Accident
            </h1>

            <h6 style="color: rgba(102, 102, 102, 1); margin-top: 10px;">
                August 10, 2023
            </h6>
        </div>
        
        <!--Detailed Paragraph-->
        <div class="row" style="margin-top: 30px;">
            <div class="col-8">
                <p align="justify">
                    In a medical triumph that has captured the world's attention on  14 July 2023 , 
                    a team of skilled surgeons at the Hadassah Medical Centre in Israel achieved the extraordinary feat of reattaching the head of 
                    a 12-year-old boy who suffered from an "internal decapitation" caused by a serious accident. The incident, 
                    which took place in the West Bank, involved the boy, Suleiman Hassan, being hit by a car while riding his bicycle, 
                    resulting in a bilateral atlanto occipital joint dislocation, a life-threatening condition 
                    where the skull detaches from the top vertebrae of the spine.
                </p> 
                <p align="justify">
                    The medical team at Hadassah Medical Centre swiftly moved into action, 
                    airlifting young Hassan to the hospital, where he was immediately taken to the trauma unit for a complex and lengthy 
                    emergency surgery. Dr. Ohad Einav, an orthopaedic specialist who had returned to Israel after a fellowship at 
                    trauma centers in Toronto, led the pioneering operation, which lasted several hours.                    
                </p> 
                <p align="justify">
                    The surgeons utilized cutting-edge technology and "new plates and fixations" in the damaged area during the procedure, 
                    which took place the previous month and was announced to the public in July. 
                    Dr. Einav's prior experience with similar surgeries on adult patients during his training in Toronto equipped him to 
                    operate on young Hassan, raising the boy's chances of survival significantly.
                </p> 

                <p align="justify">
                    The boy's recovery journey was nothing short of miraculous, as he defied the odds 
                    and showed no neurological deficits or sensory or motor dysfunction. 
                    The fact that he can now walk unaided after such a critical process is truly remarkable, 
                    leaving the surgical team amazed by his progress. This case was particularly challenging given that 
                    bilateral atlanto occipital joint dislocation is rare, even more so in children.
                </p>
                <p align="justify">
                    Hassan's father remained by his side throughout the entire recovery process, expressing profound gratitude 
                    to the medical staff for saving his only son's life. The quick decision-making, advanced technology, 
                    and professionalism exhibited by the trauma and orthopedics team played a pivotal role in ensuring Hassan's survival 
                    and eventual recovery.
                </p> 
                <p align="justify">
The successful reattachment surgery has not only brought hope and joy to Hassan's family but also highlighted the remarkable advancements in medical science and the importance of unwavering dedication from healthcare professionals. The achievement has sparked discussions within the medical community, offering insights into managing rare injuries like internal decapitation.
                </p>
                <p align="justify">
The head reattachment surgery marks a significant milestone for Hadassah Medical Centre and serves as a testament to the extraordinary skills and compassion of the surgical team. As the boy continues his recovery with a cervical splint, the medical staff will closely monitor his progress and provide ongoing support.
                </p>
                <p align="justify">
                    The inspiring tale of young Hassan's survival will undoubtedly resonate with medical professionals worldwide and reinforce the importance of pushing the boundaries of medical knowledge and technology to save lives. This miraculous achievement stands as a beacon of hope, reminding us all that even in the face of seemingly insurmountable challenges, human ingenuity and perseverance can triumph against all odds.
                </p>
                <p align="justify">
                    <h3 style="font-weight: bold; margin-bottom: 30px; margin-top: 30px;font-size:32px;">References:</h3>
                    <ul>
                        <li>
                            Ghert-Zand, R. (2023, July 5). Hadassah surgeons reattach boy’s head to his neck after internal decapitation. The Times of Israel.
                        </li>
                        <li>
                            Aitken, P. (2023, July 13). Doctors reattach boy’s head after car accident thanks to ‘amazing’ surgery. Fox News.
                        </li>
                    </ul>
                </p>
            </div>

            <div class="col-4" style="text-align: center;">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-primary" style="margin-bottom: 10px;">Download PDF</button>
                    <button type="button" class="btn btn-secondary" style="margin-bottom: 10px;">Send e-mail</button>
                </div>
            </div>

        </div>

        <!--Blogs Section-->
        
        <div class="row" style="margin-top: 60px;">
            <h2 style="color: rgba(102, 102, 102, 1); font-weight: bold;">
                Latest Blogs
            </h2>
        </div>

        <!--Cards-->
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 10px; margin-bottom: 120px;">
            <div class="col">
                <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show
                    that equal height action.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
            </div>
        </div>

    </div>



    <!--Footer-->
    <footer>
    <!-- Subscribe section --> 
    <div class="bg-light">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <form action="">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2">
                <strong>Subscribe to our newsletter</strong>
            </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form5Example25" class="form-control" placeholder="Email address"/>
            </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
                Submit
            </button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        </form>
    </div>
    <!-- Grid container -->
    </div>
    <div class="text-center text-lg-start text-light" style="background-color: rgb(39,81,163);">
        <!-- Left -->
        <!-- Left -->

        <!-- Right -->
        <div>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
        </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="../static/mainlogo.png" alt="">
                
            </h6>
            <p>
                International organization dedicated to connecting medical students and professionals interested in neurosurgery and neurology
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Company
            </h6>
            <p>
                <a href="#!" class="text-reset">About us</a>
            </p>
            <p>
                <a href="#!" class="text-reset">News</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Ongoing research</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Publication</a>
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Committees
            </h6>
            <p>
                <a href="#!" class="text-reset">1st committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">2nd committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">3rd committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">4th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">5th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">6th committee</a>
            </p>
            <p>
                <a href="#!" class="text-reset">7th committee</a>
            </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 All rights reserved.
        <a class="text-reset fw-bold" href="">Neuromer.</a>
    </div>
    </div>

    <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


  </body>
</html>
